/models
/temp
/deno.exe
/test.ts
/test2.ts
/ui_parse.exe
/*.exe
/auto_jd.ts
/testhash.ts
/test.json
/auto_play.ts
/run_test.bat
/test.py
/notepad.ts
/temp_images
/test_browser.ts
/saolei_bak.ts
/t2.ts
/private_key.data
/测试打包.bat