/models
/temp
/deno.exe
/test.ts
/test2.ts
/ui_parse.exe
/*.exe
/auto_jd.ts
/testhash.ts
/test.json
/auto_play.ts
/run_test.bat
/test.py
/notepad.ts
/temp_images
/test_browser.ts
/saolei_bak.ts
/t2.ts
/private_key.data
/测试打包.bat
/examples/元素捕获/x/webui@2.4.4/src/webui-windows-msvc-x64
/screenshot
ui_ext/ssf_ui.exe
save/1.json
/save
/test3.ts
examples/语音控制/voice_control.exe
*test*
.gitignore
model.nlp
/classifier.json
/asr_ext.ts
/chat_ext.ts
chat2.ts
chat.ts
/general-news-extractor-js
/examples/AI_bak
/test8.ts
/node_modules
/examples/AI控制/node_modules